 
 <style id="mfn-custom-inline-css" type="text/css">
    @media screen and (max-width: 769px) {
    body:not(.template-slider):not(.header-simple) #Header {min-height: 0px!important;}
    }
 </style> 

 <div fxHide.lt-md>
   <div class="page-template-default page page-id-96 theme-betheme woocommerce-js  color-custom style-default button-flat layout-full-width if-zoom no-content-padding hide-love no-shadows header-split sticky-tb-color ab-show subheader-both-center menu-link-color menuo-no-borders footer-stick footer-copy-center boxed2fw mobile-tb-center mobile-side-slide mobile-menu mobile-mini-mr-ll mobile-tr-header tr-header tr-menu tr-content be-reg-22021">
      <div id="Header_wrapper" class="">
        <header id="Header">
           <div id="Action_bar" >
              <div class="container">
                 <div class="column one">
                    <ul class="contact_details">
                    </ul>
                    <ul class="social"></ul>
                 </div>
              </div>
           </div>
           <!-- .header_placeholder 4sticky  -->
           <div class="header_placeholder"></div>
           <div id="Top_bar" class="" >
              <div class="" *ngIf="!isLoggedIn">
                 <div class="column one">
                    <div class="top_bar_left clearfix" style="width: 1079.95px;">
                       <!-- Logo -->
                       <div class="logo">
                         <a id="logo" href="https://zulubarb.com/" title="Zulu Barb" data-height="170" data-padding="0"><img class="logo-main scale-with-grid"      src="assets/kendra_seunderland_mlogo.png" data-retina="" data-height=""      alt="" data-no-retina="">
                        <img class="logo-sticky scale-with-grid" src="assets/kendra_seunderland_mlogo.png" data-retina="" data-height="" alt="" data-no-retina="">
                        <img class="logo-mobile scale-with-grid" src="assets/kendra_seunderland_mlogo.png" data-retina="" data-height="" alt="" data-no-retina="">
                        <img class="logo-mobile-sticky scale-with-grid" src="assets/kendra_seunderland_mlogo.png" data-retina="" data-height="" alt="" data-no-retina=""></a>
                     </div> 
                       <div class="menu_wrapper">
                          <nav id="menu">
                             <ul id="menu-main-menu-left" class="menu menu-main menu_left">
                                <li id="menu-item-99" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-96 current_page_item"><a routerLink="home" routerLinkActive="active"><span>Home</span></a></li>
                                <li id="menu-item-2315" class="menu-item menu-item-type-post_type menu-item-object-page"><a routerLink="bio" routerLinkActive="active"><span>Bio</span></a></li>                               
                                <li id="menu-item-12962" class="menu-item menu-item-type-custom menu-item-object-custom last"><a routerLink="bio" routerLinkActive="active"><span>Carlendar &amp; Events</span></a></li>
                                <li id="menu-item-1465" class="menu-item menu-item-type-post_type menu-item-object-page"><a  routerLink="previews" routerLinkActive="active"><span>Preview Videos</span></a></li>
                             </ul>
                             <ul id="menu-main-menu-right" class="menu menu-main menu_right">                                
                                <li id="menu-item-1350" class="menu-item menu-item-type-post_type menu-item-object-page"><a  routerLink="vip" routerLinkActive="active"><span>VIP Videos</span></a></li>
                                <li id="menu-item-1397" class="menu-item menu-item-type-post_type menu-item-object-page last"><a  routerLink="register" routerLinkActive="active" ><span>Join Now</span></a></li>
                                <li id="menu-item-2882" class="menu-item menu-item-type-post_type menu-item-object-page last"><a routerLink="login" routerLinkActive="active"><span>Login</span></a></li>
                             </ul>                    
                          </nav>                  		
                       </div>               
                    </div>
                 </div>
              </div>
      
              <div class="" *ngIf="isLoggedIn">
               <div class="column one">
                  <div class="top_bar_left clearfix" style="width: 1079.95px;">
                     <!-- Logo  --> 
                     <div class="logo">
                        <a id="logo" href="https://zulubarb.com/" title="Zulu Barb" data-height="170" data-padding="0"><img class="logo-main scale-with-grid"      src="assets/kendra_seunderland_mlogo.png" data-retina="" data-height=""      alt="" data-no-retina="">
                      <img class="logo-sticky scale-with-grid" src="assets/kendra_seunderland_mlogo.png" data-retina="" data-height="" alt="" data-no-retina="">
                      <img class="logo-mobile scale-with-grid" src="assets/kendra_seunderland_mlogo.png" data-retina="" data-height="" alt="" data-no-retina="">
                      <img class="logo-mobile-sticky scale-with-grid" src="assets/kendra_seunderland_mlogo.png" data-retina="" data-height="" alt="" data-no-retina=""></a>
                     </div>
                     <div class="menu_wrapper">
                        <nav id="menu">
                           <ul id="menu-main-menu-left" class="menu menu-main menu_left">
                              <li id="menu-item-99" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-96 current_page_item"><a routerLink="home" routerLinkActive="active"><span>Home</span></a></li>
                              <li id="menu-item-2315" class="menu-item menu-item-type-post_type menu-item-object-page"><a routerLink="bio" routerLinkActive="active"><span>Bio</span></a></li>
                              <li id="menu-item-2747" class="menu-item menu-item-type-post_type menu-item-object-page last"><a href="dashboard"><span>Your Videos</span></a></li>
                              <li id="menu-item-12962" class="menu-item menu-item-type-custom menu-item-object-custom last"><a href="#"><span></span></a></li>
                           </ul>
                           <ul id="menu-main-menu-right" class="menu menu-main menu_right">
                              <li id="menu-item-1465" class="menu-item menu-item-type-post_type menu-item-object-page"><a  routerLink="previews" routerLinkActive="active"><span>Video Shorts</span></a></li>
                              <li id="menu-item-1350" class="menu-item menu-item-type-post_type menu-item-object-page"><a  routerLink="vip" routerLinkActive="active"><span>VIP Videos</span></a></li>
                              <li id="menu-item-1397" class="menu-item menu-item-type-post_type menu-item-object-page last"><a  routerLink="register" routerLinkActive="active" ><span></span></a></li>
                              <li id="menu-item-2882" class="menu-item menu-item-type-post_type menu-item-object-page last"><button mat-button (click)="onLogout()"  >Logout</button></li>
                           </ul>                    
                        </nav>                  		
                     </div>               
                  </div>
               </div>
            </div>
      
           </div>
        </header>
      </div>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
   </div>
</div>
<div fxHide.gt-sm >
   <div class="">
      <a id="logo" href="https://zulubarb.com/" title="Zulu Barb" data-height="170" data-padding="0"><img class="logo-main scale-with-grid"      src="assets/kendra_seunderland_mlogo.png" data-retina="" data-height=""      alt="" data-no-retina="">
    
    </a>
   </div>

 </div>
<main class="mat-app-background">
   <a *ngIf="isLoggedIn" [routerLink]="['../payment']" [state]="{ listingId:'tip' }"  class="btn btn-lg btn-danger " style="color: aliceblue; width: 130px; height:35px; text-align: center; line-height: 35px; float: right;" >Tip Zulu Barb</a> 
   <a *ngIf="!isLoggedIn" routerLink='../register' [state]="{ listingId:'tip'}"  class="btn btn-lg btn-danger"  style="color: aliceblue; width: 130px; height:35px; text-align: center; line-height: 35px; float: right;">Tip Zulu Barb</a>        
   <router-outlet></router-outlet>
</main>
<!-- mfn_hook_content_after --><!-- mfn_hook_content_after -->
<footer id="Footer" class="clearfix">
   <div class="footer_copy">
      <div class="">
         <div class="column one">
            <a id="back_to_top" class="footer_button" href=""><i class="icon-up-open-big"></i></a>
            <div class="copyright">
               <p class="small"><span style="padding-right:20px;"><a  routerLink="privacy" routerLinkActive="active">PRIVACY</a></span> | <span style="padding-right:20px;padding-left:20px;"><a  routerLink="terms" routerLinkActive="active">TERMS</a></span> | <span style="padding-right:20px;padding-left:20px;"><a  routerLink="support" routerLinkActive="active">SUPPORT</a></span></p>
               <hr class="no_line" style="margin: 0 auto 10px;">
               <p class="smaller">Email: support@zulubarb.com</p>                      
               <hr class="no_line" style="margin: 0 auto 10px;">
               <p class="small" style="margin-bottom:2px;">Developed by <a href="#" target="_blank" style="color:#C93D8D;"><b>Mzansi</b></a></p>
               <hr class="no_line" style="margin: 0 auto 10px;">
               <p class="smaller">Copyright © 2021 Zulu Barb All rights reserved.</p>
               <p class="smaller">All models were at least eighteen (18) years of age when they were photographed.<br>
                  <a  routerLink="privacy" routerLinkActive="active">Disclaimer</a>
               </p>
            </div>
            <ul class="social"></ul>
         </div>
      </div>
   </div>
</footer>
<br/><br/>

 <div fxHide.gt-sm >
   <mat-sidenav-container > 
        <app-footer-mobile style="z-index: 10000;">
        </app-footer-mobile> 
    </mat-sidenav-container>

 </div>





<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


