<style>
   .big {
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #d693bb;
}
</style>

<div class="content_wrapper clearfix">
    <div class="sections_group">
       <div class="entry-content" itemprop="mainContentOfPage">
          <div class="section mcb-section mcb-section-6517f5532 hide-tablet " style="padding-top:0px;padding-bottom:0px;">
             <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap mcb-wrap-d941ebb07 one  valign-top clearfix" >
                   <div class="mcb-wrap-inner">
                      <div class="column mcb-column mcb-item-700ceba86 one column_column">
                         <div class="column_attr clearfix align_center" >
                            <h3 style="color:#DC81B5;">Let's get a few things out of the way right now, ok? Zulu-Barb is my name and am the baddest bitch in South Africa. I love pink, ORGIES and sucking dick.</h3>
                         </div>
                      </div>
                      <div class="column mcb-column mcb-item-bc280cc49 one column_divider">
                         <hr class="no_line" style="margin: 0 auto 20px;">
                      </div>
                      <div class="column mcb-column mcb-item-9ypghbp0t one-second column_image">
                         <div class="image_frame image_item scale-with-grid has_border">
                            <div class="image_wrapper">
                              <a [routerLink]="['/register']">
                                  <div class="mask"></div>
                                  <img class="scale-with-grid" src="assets/full_vip_videos_box1.jpg" alt="" title="">
                               </a>
                               <div class="image_links "><a [routerLink]="['/register']" class="link"><i class="icon-link"></i></a></div>
                            </div>
                         </div>
                      </div>
                      <div class="column mcb-column mcb-item-q8krvp27d one-second column_image">
                         <div class="image_frame image_item scale-with-grid has_border">
                            <div class="image_wrapper">
                              <a [routerLink]="['/register']">
                                  <div class="mask"></div>
                                  <img class="scale-with-grid" src="assets/short_clips_box1.jpg" alt="" title="">
                               </a>
                               <div class="image_links "><a [routerLink]="['/register']" class="link"><i class="icon-link"></i></a></div>
                            </div>
                         </div>
                      </div>
                      <div class="column mcb-column mcb-item-n6dojcola one column_column">
                         <div class="column_attr clearfix" style="padding:20px 2%;">
                            <p class="big">I have a lot of amazing things for you! I am here to fullfil your fantasies. I have my own onlyfans and now I have my very own website!</p>
                            <p class="big">I’m so excited that my fans can now get everything they need from me in one place! This is the only way to see all my new and exclusive content! I produce and edit the videos myself, it’s as real as it gets!  I can’t wait to continue creating and sharing some pretty amazing things with you guys!</p>
                         </div>
                      </div>
                      <div class="column mcb-column mcb-item-e35h32v85 one-fourth column_image">
                         <div class="image_frame image_item scale-with-grid has_border">
                            <div class="image_wrapper">
                              <a [routerLink]="['/register']">
                                  <div class="mask"></div>
                                  <img class="scale-with-grid" src="assets/2.jpg" alt="" title="">
                               </a>
                               <div class="image_links "><a [routerLink]="['/register']" class="link"><i class="icon-link"></i></a></div>
                            </div>
                         </div>
                      </div>
                      <div class="column mcb-column mcb-item-uve5oh0vl one-fourth column_image">
                         <div class="image_frame image_item scale-with-grid has_border">
                            <div class="image_wrapper">
                              <a [routerLink]="['/register']">
                                  <div class="mask"></div>
                                  <img class="scale-with-grid" src="assets/1.jpg" alt="" title="">
                               </a>
                               <div class="image_links "><a [routerLink]="['/register']" class="link"><i class="icon-link"></i></a></div>
                            </div>
                         </div>
                      </div>
                      <div class="column mcb-column mcb-item-mavdlslln one-fourth column_image">
                         <div class="image_frame image_item scale-with-grid has_border">
                            <div class="image_wrapper">
                              <a [routerLink]="['/register']">
                                  <div class="mask"></div>
                                  <img class="scale-with-grid" src="assets/3.jpg" alt="" title="">
                               </a>
                               <div class="image_links "><a [routerLink]="['/register']" class="link"><i class="icon-link"></i></a></div>
                            </div>
                         </div>
                      </div>
                      <div class="column mcb-column mcb-item-uq7ngbw1l one-fourth column_image">
                         <div class="image_frame image_item scale-with-grid has_border">
                            <div class="image_wrapper">
                              <a [routerLink]="['/register']">
                                  <div class="mask"></div>
                                  <img class="scale-with-grid" src="assets/5.jpg" alt="" title="">
                               </a>
                               <div class="image_links "><a [routerLink]="['/register']" class="link"><i class="icon-link"></i></a></div>
                            </div>
                         </div>
                      </div>
                      <div class="column mcb-column mcb-item-z1pct2f95 one column_column">
                         <div class="column_attr clearfix" style="padding:20px 2%;">
                            <p class="big">Wanna watch? It's easy, you can <a [routerLink]="['/register']"><b>join me right here</b></a> and get the real Zulu-Barb - all the, real world hotAF sucking, fucking and cumming that I do in my real life. It's like reality porn just without alll the fake shit.</p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="wrap mcb-wrap mcb-wrap-pml23s8dv one  valign-top clearfix" style="padding:40px 0 0">
                   <div class="mcb-wrap-inner">
                      <div class="column mcb-column mcb-item-kep2231f1 one column_column">
                         <div class="column_attr clearfix" >
                            <div style="padding:0px 10%; text-align:center;">
                              <a [routerLink]="['/register']" class="button  button_full_width button_size_3 button_js"  style="background-color:#C93D8D!important;color:#ffffff;" target="_blank"><span class="button_label">Show me  the videos, I'm ready to join right now!</span></a>
                            </div>
                            <hr class="no_line" style="margin: 0 auto 10px;">
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
