

<!-- mfn_hook_content_before --><!-- mfn_hook_content_before -->
<div id="Content">
    <div class="content_wrapper clearfix">
       <div class="sections_group">
          <div class="section mcb-section mcb-section-2gsyq3x0m" style="padding-top:50px;padding-bottom:0px;">
             <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap mcb-wrap-sluuuteqw one  valign-top clearfix" >
                   <div class="mcb-wrap-inner">
                      <div class="column mcb-column mcb-item-a56k40xop one column_column">
                         <div class="column_attr clearfix align_center" >
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border" style="margin-bottom:30px;">
                               <div class="image_wrapper"><img class="scale-with-grid" src="assets/homenoBG.png" alt="" title="" width="256" height="256"></div>
                            </div>
                            <p>Welcome to Africalady.com, the Official Website of Adult Perfomer, Africa Lady.</p>
                            <p>By entering this site, you acknowledge and agree that you are not 
                               offended by nudity and explicit depictions of sexual activity. By 
                               entering this site, you also certify under penalty of perjury that you 
                               are an adult.
                            </p>
                         </div>
                      </div>
                      <div class="column mcb-column mcb-item-h4hliwwux one-second column_column">
                         <div class="column_attr clearfix align_right" >
                            <hr class="no_line" style="margin: 0 auto 20px;">
                            <div class="button_align align_right"><a class="button  button_size_2 button_js" [routerLink]="['/home']" style="background-color:#C93D8D!important;color:#ffffff;"><span class="button_label">Enter Here</span></a></div>
                         </div>
                      </div>
                      <div class="column mcb-column mcb-item-zz4e60p2d one-second column_column">
                         <div class="column_attr clearfix align_left" >
                            <hr class="no_line" style="margin: 0 auto 20px;">
                            <div class="button_align align_left"><a class="button  button_size_2 button_js" href="https://google.com/" style="background-color:#C93D8D!important;color:#ffffff;"><span class="button_label">Get Out</span></a></div>
                         </div>
                      </div>
                      <div class="column mcb-column mcb-item-lrdce8tmc one column_column">
                         <div class="column_attr clearfix align_center" >
                            <hr class="no_line" style="margin: 0 auto 30px;">
                            <p class="small"><span style="padding-right:20px;"><a href="https://kendrasunderlandvip.com/privacy-policy/">PRIVACY</a></span> | <span style="padding-right:20px;padding-left:20px;"><a href="https://kendrasunderlandvip.com/terms/">TERMS</a></span> | <span style="padding-right:20px;padding-left:20px;"><a href="https://kendrasunderlandvip.com/support/">SUPPORT</a></span></p>
                            <hr class="no_line" style="margin: 0 auto 10px;">
                         
                            <hr class="no_line" style="margin: 0 auto 10px;">
                            <p class="small" style="margin-bottom:2px;">Developed by <a href="https://gfedesign.com/" target="_blank" style="color:#C93D8D;"><b>Danny Ferretti</b> @ <b>GFE Design<b></b></b></a></p>
                            <b>
                               <b>
                                  <hr class="no_line" style="margin: 0 auto 10px;">
                                  <p class="smaller">Copyright © 2019 Zulu Barb All rights reserved.</p>
                                  <p class="smaller">All models were at least eighteen (18) years of age when they were photographed.<br>
           
                                  </p>
                               </b>
                            </b>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>     
         
       </div>
       
    </div>
   
 </div>
 
 