<p>Here are your videos for your viewing pleasure !</p>
<mat-progress-bar *ngIf="loading" mode="determinate" value="300" color="accent"></mat-progress-bar>
<div class="container" *ngIf="!loading">
    <div class="row">
        <div class="card col-md-4 col-sm-12" *ngFor="let post of DataResponse">
        <img class="card-img-top" height="300vh"  [src]="createImgPath(post.coverImage)" [alt]="post.title" />
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5> 
            <p class="card-text">
            Uploaded on
            {{ post.createdate | date: "medium" }}
            </p>
            <p class="card-text">{{ post.description }}</p>     
            <!--<a [routerLink]="['/videoplayer']" [state]="{ id:post.listingId}"  class="btn btn-danger pull-right" >Watch Now</a>   &nbsp; -->
            <a (click)="getfile(post.listingId)"  class="btn btn-danger pull-right" >Download</a>           
        </div>
        </div>
    </div>
</div>
