<div id="Content">
    <div class="content_wrapper clearfix">
       <div class="sections_group">
          <div class="entry-content" itemprop="mainContentOfPage">
             <div class="section mcb-section mcb-section-6517f5532 hide-tablet hide-mobile" style="padding-top:0px;padding-bottom:0px;">
                <div class="section_wrapper mcb-section-inner">
                   <div class="wrap mcb-wrap mcb-wrap-15a4e373d one  valign-top clearfix" >
                      <div class="mcb-wrap-inner">
                         <div class="column mcb-column mcb-item-d58e1f45b one column_column">
                            <div class="column_attr clearfix align_center" >
                               <h2 style="color:#DC81B5;">Hey! I'm <span style="color:#C93D8D;">Zulu Barb</span>.<br>You're invited to take a look into my world.</h2>
                            </div>
                         </div>
                         <div class="column mcb-column mcb-item-dq7x6j7p2 one-third column_image">
                            <div class="image_frame image_item scale-with-grid no_border" style="margin-top:15px;">
                               <div class="image_wrapper">
                                  <a href="assets/homeleft.jpg" rel="lightbox" data-type="image">
                                     <div class="mask"></div>
                                     <img class="scale-with-grid" src="assets/homeleft.jpg" alt="" title="">
                                  </a>
                                  <div class="image_links "><a href="assets/homeleft.jpg" class="zoom" rel="lightbox" data-type="image"><i class="icon-search"></i></a></div>
                               </div>
                            </div>
                         </div>
                         <div class="column mcb-column mcb-item-yiw80w1a9 one-third column_image">
                            <div class="image_frame image_item scale-with-grid no_border">
                               <div class="image_wrapper">
                                  <a href="assets/header.jpg" rel="lightbox" data-type="image">
                                     <div class="mask"></div>
                                     <img class="scale-with-grid" src="assets/header.jpg" alt="" title="">
                                  </a>
                                  <div class="image_links "><a href="assets/header.jpg" class="zoom" rel="lightbox" data-type="image"><i class="icon-search"></i></a></div>
                               </div>
                            </div>
                         </div>
                         <div class="column mcb-column mcb-item-94ffcjw36 one-third column_image">
                            <div class="image_frame image_item scale-with-grid no_border" style="margin-top:15px;">
                               <div class="image_wrapper">
                                  <a href="assets/homeright.jpg" rel="lightbox" data-type="image">
                                     <div class="mask"></div>
                                     <img class="scale-with-grid" src="assets/homeright.jpg" alt="" title="">
                                  </a>
                                  <div class="image_links "><a href="assets/homeright.jpg" class="zoom" rel="lightbox" data-type="image"><i class="icon-search"></i></a></div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="wrap mcb-wrap mcb-wrap-d941ebb07 one  valign-top clearfix" style="padding:40px 0 0">
                      <div class="mcb-wrap-inner">
                         <div class="column mcb-column mcb-item-700ceba86 one column_column">
                            <div class="column_attr clearfix align_center" >
                               <h2 style="color:#DC81B5;">This is the ONLY site where you can get uncensored access to my 'real world' short clips and full length hardcore videos.</h2>
                            </div>
                         </div>
                         <div class="column mcb-column mcb-item-bc280cc49 one column_divider">
                            <hr class="no_line" style="margin: 0 auto 20px;">
                         </div>
                      </div>
                   </div>
                   <div class="wrap mcb-wrap mcb-wrap-nru4x1nbb one-second  column-margin-0px valign-top clearfix" >
                      <div class="mcb-wrap-inner">
                         <div class="column mcb-column mcb-item-uq36s99ru one column_column">
                            <div class="column_attr clearfix" style="background-color:rgba(235,183,213,0.65);padding:20px 20px 0px;">
                               <div class="image_frame image_item scale-with-grid aligncenter no_border" style="margin-bottom:10px;">
                                  <div class="image_wrapper">
                                    <a [routerLink]="['/previews']">
                                        <div class="mask"></div>
                                        <img class="scale-with-grid" src="assets/short_clips_box1.jpg" alt="View The Clips" title="">
                                     </a>
                                     <div class="image_links "> <a [routerLink]="['/previews']" class="link"><i class="icon-link"></i></a></div>
                                  </div>
                               </div>
                               <a [routerLink]="['/previews']" class="button  button_full_width button_size_1 button_js"  style="background-color:#C93D8D!important;color:#ffffff;"><span class="button_label">Show Me The Videos</span></a>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="wrap mcb-wrap mcb-wrap-ni0hb2k59 one-second  column-margin-0px valign-top clearfix" >
                      <div class="mcb-wrap-inner">
                         <div class="column mcb-column mcb-item-z0buep9bg one column_column">
                            <div class="column_attr clearfix" style="background-color:rgba(235,183,213,0.65);padding:20px 20px 0px;">
                               <div class="image_frame image_item scale-with-grid aligncenter no_border" style="margin-bottom:10px;">
                                  <div class="image_wrapper">
                                    <a [routerLink]="['/vip']">
                                        <div class="mask"></div>
                                        <img class="scale-with-grid" src="assets/full_vip_videos_box1.jpg" alt="View The Full Videos" title="">
                                     </a>
                                     <div class="image_links "> <a [routerLink]="['/vip']" class="link"><i class="icon-link"></i></a></div>
                                  </div>
                               </div>
                               <a [routerLink]="['/vip']" class="button  button_full_width button_size_1 button_js"  style="background-color:#C93D8D!important;color:#ffffff;"><span class="button_label">Show Me The VIP Videos</span></a>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="wrap mcb-wrap mcb-wrap-pml23s8dv one  valign-top clearfix" style="padding:40px 0 0">
                      <div class="mcb-wrap-inner">
                         <div class="column mcb-column mcb-item-kep2231f1 one column_column">
                            <div class="column_attr clearfix" >
                               <div style="padding:0px 10%; text-align:center;">
                                 <a [routerLink]="['/register']" class="button  button_full_width button_size_3 button_js"  style="background-color:#C93D8D!important;color:#ffffff;"><span class="button_label">Skip The Previews, I'm Ready To JOIN Right Now!</span></a>
                               </div>
                               <hr class="no_line" style="margin: 0 auto 10px;">
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="section mcb-section mcb-section-q8vv35yp7  full-width hide-desktop" style="padding-top:0px;padding-bottom:0px;">
                <div class="section_wrapper mcb-section-inner">
   
     <div class="wrap mcb-wrap mcb-wrap-1v490jpeb one  valign-top clearfix" style="padding:10px 2% 0px">
                      <div class="mcb-wrap-inner">
                         <div class="column mcb-column mcb-item-h80uzd3nr one column_column column-margin-10px">
                            <div class="column_attr clearfix align_center" style="padding:20px 10px 0px;">
                               <h2 style="color:#DC81B5;"><h2 style="color:#DC81B5;">Hey! I'm <span style="color:#C93D8D;">Zulu Barb</span>.
             <br>You're invited to take a look into my world.</h2>
                               </h2>
                            </div>
                         </div>
                         <div class="column mcb-column mcb-item-fj0eq5ogy one column_divider">
                            <hr class="no_line" style="margin: 0 auto 20px;">
                         </div>
                      </div>
                   </div>
    
                   <div class="wrap mcb-wrap mcb-wrap-4vsjpv0d2 one  valign-top clearfix">
                      <div class="mcb-wrap-inner">
                         <div class="column mcb-column mcb-item-1mdl5mtf4 one column_image">
                            <div class="image_frame image_item no_link scale-with-grid no_border">
                               <div class="image_wrapper"><img class="scale-with-grid" src="assets/header.jpg" alt="mobile_header_ks7" title="mobile_header_ks7" width="700" height="1000"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="wrap mcb-wrap mcb-wrap-1v490jpeb one  valign-top clearfix" style="padding:10px 2% 0px">
                      <div class="mcb-wrap-inner">
                         <div class="column mcb-column mcb-item-h80uzd3nr one column_column column-margin-10px">
                            <div class="column_attr clearfix align_center" style="padding:20px 10px 0px;">
                               <h2 style="color:#DC81B5;">This
                                  is the ONLY site where you can get full, uncensored access to my 'real 
                                  world' short clips and my personal full length, hardcore videos.
                               </h2>
                            </div>
                         </div>
                         <div class="column mcb-column mcb-item-fj0eq5ogy one column_divider">
                            <hr class="no_line" style="margin: 0 auto 20px;">
                         </div>
                      </div>
                   </div>
                   <div class="wrap mcb-wrap mcb-wrap-3lsenn4a0 one  column-margin-0px valign-top clearfix" style="padding:0px 3%">
                      <div class="mcb-wrap-inner">
                         <div class="column mcb-column mcb-item-sxzoh7nja one column_column column-margin-0px">
                            <div class="column_attr clearfix" style="background-color:rgba(235,183,213,0.65);padding:10px 10px 0px;">
                               <div class="image_frame image_item scale-with-grid aligncenter no_border" style="margin-bottom:10px;">
                                  <div class="image_wrapper">
                                    <a [routerLink]="['/previews']">
                                        <div class="mask"></div>
                                        <img class="scale-with-grid" src="assets/newshort_clips_box1.jpg" alt="View The Clips" title="">
                                     </a>
                                     <div class="image_links "><a [routerLink]="['/previews']" class="link"><i class="icon-link"></i></a></div>
                                  </div>
                               </div>
                               <a [routerLink]="['/previews']" class="button  button_full_width button_size_1 button_js"  style="background-color:#C93D8D!important;color:#ffffff;"><span class="button_label">Show Me The Videos</span></a>
                            </div>
                         </div>
                         <div class="column mcb-column mcb-item-hdqqx4ui8 one column_divider">
                            <hr class="no_line" style="margin: 0 auto 10px;">
                         </div>
                         <div class="column mcb-column mcb-item-z7370csm9 one column_column">
                            <div class="column_attr clearfix" style="background-color:rgba(235,183,213,0.65);padding:10px 10px 0px;">
                               <div class="image_frame image_item scale-with-grid aligncenter no_border" style="margin-bottom:10px;">
                                  <div class="image_wrapper">
                                    <a [routerLink]="['/vip']">
                                        <div class="mask"></div>
                                        <img class="scale-with-grid" src="assets/newfull_vip_videos_box1.jpg" alt="View The Full Videos" title="">
                                     </a>
                                     <div class="image_links "><a [routerLink]="['/vip']" class="link"><i class="icon-link"></i></a></div>
                                  </div>
                               </div>
                               <a [routerLink]="['/vip']" class="button  button_full_width button_size_1 button_js"  style="background-color:#C93D8D!important;color:#ffffff;"><span class="button_label">Show Me The VIP Videos</span></a>
                            </div>
                         </div>
                         <div class="column mcb-column mcb-item-u3xjx295z one column_divider">
                            <hr class="no_line" style="margin: 0 auto 10px;">
                         </div>
                         <div class="column mcb-column mcb-item-j59rh6b5a one column_column">
                            <div class="column_attr clearfix align_center" >
                              <a [routerLink]="['/register']" class="button  button_full_width button_size_3 button_js"  style="background-color:#C93D8D!important;color:#ffffff;"><span class="button_label">I'm Ready Sign Up!</span></a>
                               <hr class="no_line" style="margin: 0 auto 10px;">
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="section the_content no_content">
                <div class="section_wrapper">
                   <div class="the_content_wrapper"></div>
                </div>
             </div>
             <div class="section section-page-footer">
                <div class="section_wrapper clearfix">
                   <div class="column one page-pager">
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
  </div>
 
